h1, p {
  font-family: Lato;
}

.large-emoji {
  font-size: 3em;
}

.tiergarten {
  background-color: lightgreen;
  font-size: 2.5em;
  padding: 1em;
  line-height: 1em;
  text-align: center;
}

.tiergarten a:hover {
  background-color: red;
}